@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  font-size:62.5%;
  box-sizing:border-box;
}
body,#root{
  height:100vh;
  margin:0;
  overflow-x:hidden;
  font-size:1.4rem;
}
.grid-container{
  display:grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows:5rem 1fr 5rem;
  grid-template-columns:1fr;
  height:100%;
}
header{
  grid-area:header;
  background-color:#203040;
  color:#ffffff;
  display:flex !important;
  font-size:1.8rem !important;
  align-items:center;
  justify-content:space-between;
  padding:1rem 3rem;
  position:fixed;
  z-index:9999;
  width:100%;
}
header > a{
  color:#ffffff !important;
  text-decoration:none;
  display:inline-block;
  padding:.5rem;
}
a:hover{
  color:#ff8000 !important;
  text-decoration:none !important;
}

main{
  grid-area:main;
}

footer{
  grid-area:footer;
  background-color:#203040;
  color:#ffffff;
  display:flex !important;
  justify-content:center;
  align-items:center;
  padding:1rem 2rem;
  /* position:relative; */
  z-index:9999;
}

body,input,button,select,textarea{
  font-size:1.6rem;
  font-family:Montserrat,Arial, Helvetica, sans-serif;
}


/* content */
.content{
  display:flex;
  flex-wrap:wrap;
}
.main{
   flex:3 60rem;

}
.sidebar{
  flex:1 20rem;
}

/* products */
.products{
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   padding:0;
   margin:0;
   list-style-type:none;
}
.products li{
  flex:0 1 29rem;
  height:47rem;
  padding:1rem;
}
.product{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
}
.product img{
  max-width:37rem;
  max-height:37rem;
}
.product-price{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.product-price div,.product-price button{
  text-align:center;
  flex:1;
}
.product-price div{
  font-size:2rem;
}
.button{
  padding:1rem;
  border:.1rem #c0c0c0 solid; 
  background-color:#f0f0f0;
  color:#ffffff;
  border-radius:.8rem;
  cursor: pointer;
}

.button.primary{
  background-color:#AB47BC;
}
.button:hover{
  border:.1rem #808080 solid;
}
button.small-button{
  padding:.4rem;
  border-radius:.5rem;
  border:.1rem #c0c0c0 solid; 
  background-color:#008080;
  color:#ffffff;
  cursor: pointer;
}
.small-button:hover{
  border:.2rem #111111 solid;
  transition:border 4.s;
}

/* Filter */
.filter{
  display:flex;
  justify-content:space-between;
  padding:1rem;
  margin:1rem 1rem 0;
  border-bottom:.1rem#c0c0c0 solid;
}
.filter > div{
  flex:1;
  text-align:right;
}

/* Cart */
.cart{
  padding:1rem;
  margin:1rem;
  display:flex;
}
.cart-header{
  border-bottom:.1rem #c0c0c0 solid;
  padding-bottom:1.3rem;
}
.cart-items{
  padding:0;
  width:100%;
  list-style-type:none;
}
.cart-items img{
  width:5rem;
}
.cart-items li{
  display:flex;
}
.cart-items li  div:nth-child(1){
   margin-right:.6rem;
}
.cart-items li  div:last-child{
  flex:1;
}
.right{
  text-align:right;
}
.total{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.total > div , .total > button{
  flex:1;
}
.total > div {
  font-size:2rem;
}
/* Form Checkout */
form{
  padding:0;
  width:100%;
}
.form-container{
  padding:0;
  list-style-type:none;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.form-container li{
  width:100%;
  margin:0;
  padding:0.5rem 0;
}
button.full-width,input{
  box-sizing:border-box;
  width:100%;
  padding:.5rem;
  border:.1rem #c0c0c0 solid;
}

/* product Details */
.detail-product{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:flex-start;
  border:.3rem #c0c0c0 solid;
}
.detail-product img{
  max-height:50vh;
  max-width:30rem;
}
.product-detail-description{
  flex:1;
  margin:1rem;
}
.close-modal{
  position:absolute;
  right:.5rem;
  top:.5rem;
  font-size:2.5rem;
  color:#ff0000;
  border:none;
  outline:none;
  background:none;
}
button.close-modal:hover{
  cursor:pointer;
}

/* Order Details */
.order-details{
  padding:1rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
}
.order-details ul{
  width:100%;
  list-style-type:none;
  padding:0;
  margin:0;
}
.order-details ul li{
  display:flex;
  align-items:center;
}
.order-details ul li div:nth-child(1) {
  flex:1
}
.order-details ul li div:last-child{
  flex:2
}

/* Orders */
.orders{
  width:100%;
  margin:1rem auto;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction:column;
}

.orders table{
  width:90%;
}
tbody > tr:nth-child(odd){
  background-color:#f0f0f0;
}